<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <title>Ini test Document</title>
  </head>
  <body>
    <h1>Hello <%= name %></h1>
    <h2>Job : <%= job %></h2>
    <h4>FSW Wave 8</h4>
    <a href="/games">Link ke games</a>
  </body>
</html>
