<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form Registration</title>
</head>

<body>
  <h1>Form Registrasi</h1>
  <form action="/register" method="POST">
    <label for="name">Nama</label>
    <br />
    <input type="text" name="name" id="name" />
    <br />
    <label for="job">Pekerjaan</label>
    <br />
    <input type="text" name="job" id="jobi" />
    <br />
    <label for="address">Alamat</label>
    <br />
    <textarea name="address" id="address"></textarea>
    <br />
    <button type="submit">Kirim</button>
  </form>
  <% if ( typeof name=='string' && typeof job=='string' && typeof address=='string' ) { %>
    <div>
      <p>Nama : <%= name %>
      </p>
      <p>Pekerjaan : <%= job %>
      </p>
      <p>Alamat : <%= address %>
      </p>
    </div>
    <% } %>
</body>

</html>