<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini challenge fibonacci</title>
</head>

<body>
    <form action="/generate" method="POST">
        <input type="text" name="limit" id="limit">
        <button type="submit">Generate</button>
    </form>

    <% if ( locals.generateFibon ) { %>
        <div>

            Deret Fibonacci : <%= generateFibon %>
        </div>
        <% } %>
</body>

</html>